/* custom properties
====================*/

:root {
    --spacer: 1rem;

    --clr-accent-red: hsl(0, 78%, 62%);
    --clr-accent-orange: hsl(34, 97%, 64%);
    --clr-accent-cyan: hsl(180, 62%, 55%);
    --clr-accent-blue: hsl(212, 86%, 64%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(212, 6%, 44%);
    --clr-neutral-500: hsl(234, 12%, 34%);

    --ff: "Poppins", sans-serif;

    --fs: 15px;

    --fw-200: 200;
    --fw-400: 400;
    --fw-600: 600;

    --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

/* reset
=========*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* general styling
================= */

body {
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-400);
    line-height: 1;
    color: var(--clr-neutral-400);
    margin: 0;
}

.container {
    max-width: 25rem;
    margin: 0 auto;
    padding: 0 var(--spacer) 3em;
}

.hero {
    text-align: center;
    padding: 3.5rem 0;
}

.hero__title {
    font-size: 1.5rem;
    color: var(--clr-neutral-500);
    line-height: 1.5;
}

.hero__title span {
    font-weight: var(--fw-200);
}

.hero__text {
    max-width: 18.75rem;
    margin: 0 auto;
}

.cards {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.card {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    position: relative;
    box-shadow: var(--box-shadow);
    background: var(--bg, var(--clr-neutral-100));

    border-radius: 0.5px;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.card__title {
    color: var(--clr-neutral-500);
}

.card img {
    align-self: flex-end;
}

/* utility calasses */
.flow-content>*+* {
    margin-top: var(--flow-top, var(--spacer));
    margin-bottom: var(--flow-bottom, 0);
}

.flow-content--large {
    --flow-top: 2rem;
    --flow-bottom: 2rem;
}

/* .split>*+* {
    margin: calc(var(--spacer) * 3) 0 0 0;
} */

/* individual cards */
.cards .card::before {
    content: "";
    /* display: block;  */
    /* Either display block or position absolute? */
    width: 100%;
    height: 0.8rem;
    top: 0;
    left: 0;
    background: var(--bg-bar, var(--clr-accent-cyan));
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    transform: translate(0, -0.2rem);
}

.cards .card.team-builder::before {
    --bg-bar: var(--clr-accent-red);
}

.cards .card.karma::before {
    --bg-bar: var(--clr-accent-orange);
}

.cards .card.calculator::before {
    --bg-bar: var(--clr-accent-blue);
}

.cards>*:not(:first-child) {
    margin-top: 2rem;
}

/* media quaries */

@media (min-width: 768px) {

    body {
        display: grid;
        place-items: center;
        min-height: 100vh;
    }

    .container {
        max-width: 70rem;
    }

    .hero {
        padding: 2em 0;
    }

    .hero__title {
        max-width: 400px;
        margin: 0 auto;
    }

    .hero__text {
        max-width: 500px;
    }

    .cards>*:not(:first-child) {
        margin-top: 0;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "hero hero hero"
            "supervision team-builder calculator"
            "supervision karma calculator";
        gap: calc(var(--spacer) * 2);
    }

    .hero {
        grid-area: hero;
    }

    .supervision {
        grid-area: supervision;
        align-self: center;
    }

    .team-builder {
        grid-area: team-builder;
    }

    .calculator {
        grid-area: calculator;
        align-self: center;
    }

    .karma {
        grid-area: karma;
    }
}